$grey: #8C8A8A;
$light-grey: #f3f3f3;
$blue: #C2ECFE;
$black: #000;
$white: #fff;

$dropdown-colors: (
    1: #ECA1A1,
    2: #ECCEA1,
    3: #EAECA1,
    4: #A1ECBF,
    5: #A1E7EC,
    6: #5EB3E2,
    7: #BEA1EC,
    8: #ECA1E9,
)