@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.top-img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 202px;
}

.aside-menu {
  display: flex;
  flex-direction: column;

  padding: 20px;

  position: absolute;
  z-index: 50;
  background-color: #fff;
  box-shadow: 0 0 5px 2px rgba($black, 0.4);
  left: 70px;
  right: 0;
  top: 0;
  min-height: 100vh;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  transition: ease-in-out 0.3s;
  opacity: 0;
  visibility: hidden;
  transform: scaleX(0.5);
  transform-origin: 100% 0;

  &__logo {
    align-self: center;
    margin-bottom: 30px;
  }

  &__form {
    margin-bottom: 15px;
  }

  &__item {
    border-top: 1px solid $black;

    &:last-of-type {
      border-bottom: 1px solid $black;
    }
  }

  &__item-link {
    width: 100%;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 22px;
    color: rgba($black, 0.9);
    transition: ease-in-out 0.2s;

    &:hover {
      padding-left: 20px;
    }
  }

  &__item-link-dropdown {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 8px;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      background-image: url("../images/icons/dropdown-arrow.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      transition: ease-in-out 0.2s;
    }

    &--active::after {
      transform: rotate(180deg) translateY(50%);
    }
  }

  &__list {
    margin-bottom: 15px;
  }

  &__dropdown {
    display: none;

    margin-bottom: 20px;
  }

  &__dropdown-item {
    @each $index, $color in $dropdown-colors {
      &:nth-child(#{length($dropdown-colors)}n + #{$index}) {
        .aside-menu__dropdown-link {
          background-color: $color;
        }
      }
    }

    &:hover .aside-menu__dropdown-link {
      border-color: #a3b5bd;
      box-shadow: inset 10px 0px 4px -8px rgba($black, 0.12);
      background-color: #eceeef;
    }
  }

  &__dropdown-link {
    font-size: 16px;
    line-height: 20px;
    color: rgba($black, 0.9);
    width: 100%;
    padding: 9px 15px;
    border-left: 6px solid transparent;
    transition: ease-in-out 0.2s;
  }

  &__user-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fe7446;
    border-radius: 5px;
    padding: 7px 10px;
    color: $white;
  }
  &__user-btn-text {
    text-transform: uppercase;
  }
}
.search {
  &-form {
    position: relative;
  }

  &-input {
    width: 100%;
    padding: 5px 35px 5px 18px;
    border: none;
    background: $light-grey;
    border: 1px solid $light-grey;
    border-radius: 5px;
    transition: ease 0.3s;
    &::placeholder {
      color: $grey;
      font-size: 15px;
      line-height: 20px;
    }
    &:focus {
      outline: none;
      border-color: #dbdbdb;
    }
  }

  &-link {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.header {
  &__top {
    padding: 71px 0 41px;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 176px;
    margin-left: auto;
  }

  &__user-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__form {
    margin-right: 16px;
    max-width: 260px;
  }

  &__form__search-img {
    width: 15px;
  }

  &__hamburger-btn {
    display: none;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 30px;
    font-size: 0;
    box-shadow: none;
    cursor: pointer;
    z-index: 100;

    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      height: 3px;
      background-color: #000;
      transition: background-color 0.2s;
      &::before,
      &::after {
        content: "";
        position: absolute;
        display: block;
        //transform-origin: center center;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #000;
        transition: ease 0.2s;
      }
      &::before {
        top: -13px;
      }
      &::after {
        bottom: -13px;
      }
    }

    &--active {
      span {
        background-color: transparent;
        &::before {
          top: 0;
          transform: rotate(-45deg);
        }
        &::after {
          bottom: 0;
          transform: rotate(45deg);
        }
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__aside-menu {
    z-index: 20;
    left: 150%;
    top: 0;

    &--active {
      visibility: visible;
      opacity: 1;
      transform: scaleY(1);
    }
  }

  &__nav {
    background-color: $blue;
    padding: 0 90px;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav-item {
    position: relative;

    &:hover {
      .header__nav-item__link {
        text-shadow: 1px 0 0 rgba($black, 0.4), 0 -1px 0 rgba($black, 0.4),
          -1px 0px 0 rgba($black, 0.4), 1px 0 0 rgba($black, 0.4),
          2px 2px 4px rgba(0, 0, 0, 0.25);

        &::after {
          transform: rotate(180deg) translateY(50%);
        }

        .header__nav-item__link-text::after {
          width: 100%;
          left: 0;
          right: 0;
        }
      }
    }

    &--dropdown {
      &:hover {
        .header__nav__dropdown-list {
          visibility: visible;
          opacity: 1;
          transform: scaleY(1);
        }
      }

      .header__nav-item__link {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          background-image: url("../images/icons/dropdown-arrow.svg");
          width: 15px;
          height: 8px;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          transform-origin: 50% 50%;
          transition: ease 0.3s;
        }
      }
    }

    &:not(:last-of-type) {
      margin-right: 40px;
    }
  }

  &__nav-item__link {
    padding: 18px 20px 22px;
    font-size: 17px;
    line-height: 22px;
    transition: ease 0.3s;
  }

  &__nav-item__link-text {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 50%;
      height: 1px;
      width: 0;
      transition: ease 0.3s;
      background-color: $black;
    }
  }

  &__nav__dropdown-list {
    top: 100%;
    left: 0;
  }
}

.top {
  margin-top: 52px;
  margin-bottom: 146px;

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__content {
    padding-top: 47px;
    max-width: 458px;
  }

  &__content-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 49px;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #393939;
    text-shadow: 0px 4px 4px rgba(140, 138, 138, 0.25);
    margin-bottom: 10px;
  }

  &__content-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #484848;
    margin-bottom: 50px;
  }

  &__img-box {
    max-width: 540px;
  }
}

.new {
  margin-bottom: 60px;

  &__list {
    margin: 0 -15px;
    position: relative;
  }

  &__list-arrow {
    &:hover {
      .slide-arrow__img path {
        fill: $black;
      }
    }

    &--prev {
      left: -45px;
    }

    &--next {
      right: -45px;
    }
  }

  .slick-slide {
    max-width: 255px;
    margin: 0 15px;
  }

  &__item-img {
    margin-bottom: 5px;
    border-radius: 10px;
    max-height: 307px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-text {
    font-size: 22px;
    line-height: 31px;
    text-align: center;
  }
}

.products {
  & &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
  }

  &__item {
    
    margin: 10px 15px;
  }

  &__item-link{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item-link__img {
    max-height: 307px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 4px;
  }

  &__item-link__text {
    text-align: center;
    font-size: 22px;
    line-height: 31px;
  }
}

.antistress {
  margin-bottom: 145px;
}

.socials {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    &:not(:last-of-type) {
      margin-right: 6px;
    }
  }
}

.card-popup {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
  height: 100vh;
  width: 100%;
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 0.3s;

  background-color: rgba($black, 0.5);
  backdrop-filter: blur(8px);

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__body {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    max-height: 700px;
    padding: 20px;
    background-color: $white;
    box-shadow: 0px 1px 6px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
  }

  &__btn {
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }

  &__img {
    max-height: 500px;
    object-fit: cover;
    margin: 0 50px 45px;
    align-self: center;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__navigation-text {
    padding: 0 50px;
  }
}

.card-description {
  margin-top: 35px;
  margin-bottom: 60px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__img-box {
    min-width: 170px;
    max-width: 255px;
    margin-right: 55px;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__content {
    max-width: 800px;
    padding-top: 5px;
  }

  &__content-text {
    max-width: 800px;
  }

  &__content-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    color: $black;
    margin-bottom: 18px;
  }

  &__content-text {
    font-size: 25px;
    line-height: 35px;
  }
}

.card-gallery {
  margin-bottom: 243px;

  &__item-link{
    
  }

  &__item-link__img {
    border: 1px solid $black;
  }
}

.catalog {
  margin-top: 35px;
  margin-bottom: 85px;

  & &__list {
    margin-bottom: 75px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }

  &__pagination__inner {
    padding: 7px 20px;
    display: flex;
    align-items: center;
    background-color: #efefef;
    border-radius: 50px;
  }

  & &__pagination-list {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  &__pagination-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #3c4f5f;

    &:not(:last-of-type) {
      margin-right: 15px;
    }
  }

  &__pagination-item__link {
    &--active {
      color: $black;
    }
  }
}

.footer {
  background-color: $blue;
  padding: 93px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__logo-link {
    margin-right: auto;
    padding-top: 30px;
  }

  &__list {
    max-width: 276px;
    &:not(:last-child) {
      margin-right: 40px;
    }

    &--info {
      margin-left: 40px;
    }

    &--contacts {
      margin-left: auto;
    }
  }

  &__list-item {
    &:not(:last-of-type) {
      margin-bottom: 13px;
    }
  }

  &__list-link {
    font-size: 15px;
    line-height: 21px;

    &--main {
      font-weight: 700;
    }

    &--contacts {
      display: flex;
      align-items: center;
    }
  }

  &__list-link__img {
    margin-right: 6px;
  }

  &__list-link__contact-text {
    font-size: 15px;
    line-height: 21px;
  }
}

@import "media";
